
footer {
    margin-top: auto;
    text-align: center;
    background: #d36161;
}

footer p {
    padding: 1rem 0;
    font-weight: bold;
    margin: 0rem;
    color: black;
    font-size: 18px;
}
.more-info-contact-us {
    text-align: center;
    font-size: 18px;
    margin-top: 2em;
    margin-bottom: 1em;
}