@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
body{
    background-color: rgba(225, 249, 255, 0.63);
}

.p-on-home-image {
    color: #9f2828;
    margin-top: 0;
    margin-left: 25%;
    margin-right: 40%;
    padding: 190px;
    width: 3em;
    font-size: 105px;
    font-family: 'Londrina Outline', cursive;
    font-weight: bold;
    letter-spacing: 4px;
    text-align: center;
}
.p-on-home-image:hover{
    display: block;
    color: rgba(0, 0, 0, 0.75);
    margin-top: 0;
    margin-left: 25%;
    margin-right: 40%;
    padding: 190px;
    width: 3em;
    font-size: 105px;
    font-family: 'Londrina Outline', cursive;
    font-weight: bold;
    letter-spacing: 4px;
    text-align: center;
}

.home-image {
    background-image: url("photos/pexels-ella-olsson-1640774.jpg");
    background-size: cover;
    display: block;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

.about-us-image {
    background-image: url("photos/brooke-lark-08bOYnH_r_E-unsplash.jpg");
    background-size: cover;
    display: block;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}
.p-on-about-us-image {
    color: #9f2828;
    margin-top: 0;
    margin-left: 43%;
    margin-right: 57%;
    padding: 170px;
    width: 10em;
    font-size: 45px;
    font-family: 'Londrina Outline', cursive;
    font-weight: bold;
    text-align: center;
    letter-spacing: 3px;

}
/*background-image: url("photos/pexels-ella-olsson-1640774.jpg");*/
/*display: block;*/
/*background-size: cover;*/
/*width: 100%;*/
/*height: auto;*/
/*max-height: 100%;*/