.par{
    color: #9f2828;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 170px;
    width: 3em;
    font-size: 120px ;
    font-family: 'Candara';
    font-style: italic;


}